body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: 'Motiva Sans Thin',Arial,Helvetica,Verdana,sans-serif;
}

.statssearch{
  width:48%
}

.top50h{
  width:60%;
}
.top50btng{
  margin-top:19px;
}

.black {
  color:black;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.halfdiv{
  width:48%;
}

.avatar{
  padding-top: 30px;
  padding-left: 40px;
  width:300px;
  margin:auto;
  padding:auto;
}

table tr td a {
    display:block;
    height:100%;
    width:100%;
}

.activeTd{
  background-color: #DBDBDB;
}