//a {text-decoration:none}
body{

font-family: Georgia, Courier, Times New Roman, Serif;
color: white;
overflow-y: scroll;
background-repeat: repeat-x;
background-color:white;
}
a {
	color:white;
}
img {border: 0}

.normaltable{

 border: 2px #DDD solid;
 border-collapse:collapse;
color:white;

}

.normaltable a{
	color:white
}
.normaltable td, .normaltable th,#table1 td, #table1 th{
border: #DDD solid;
 border-width: 0px 0px 2px 2px;
 max-width: 400px;
 
}
#table1 td{color:black;}	
 .normaltable th, #table1 th{
 font-variant:small-caps;
 text-transform: capitalize;
background-image: url("images/tablebg.png");
height: 20px;
background-repeat: repeat-x;
background-color: #5c5c5c;

color: white;
 }

#modal{
	height: 100%;
	padding-right:10px;
	overflow-y: scroll;
	overflow-x: auto;
	display:none;
}
